html {
	padding: 0;
	margin: 0;
}

body {
	background-color: #ebebe;
	background-image:  url(../images/bg.png);
	border-top: 5px solid black;
	margin: 0;
	text-align: center;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 30px;
	font-family: 'Coda', cursive;
	margin-left: 25px;
	margin-top: 35px;
}

.header {
	cursor: pointer !important;
}

.section {
	text-decoration: none;
	color: gray;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Source Code Pro', sans-serif;
	margin-left: 45px;
	margin-bottom: 15px;
	text-shadow: 1px 1px 0px #666;
	display: block;

}

.active-section {
	text-shadow: 2px 2px 0px #ccc;
}

input,
textarea {
  font-size: 13px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif;
  
  height: 22px;
  
  /* Avoid shorthand for padding - IE bug: http://prax.is/misc/ie8-bug-css-padding-input-element.html */
  padding: 4px;
  
  border: 1px solid #ccc;
  border-top: 1px solid #aaa;
  
  background: #fcfcfc;
}
textarea {
  height: auto;
}
input:focus, textarea:focus {
  background: #fff;
}
input[type=checkbox] {
  padding: 0;
  border: none;
  background: none;
}

.lock-x {
	margin-left: 25px;
   font-family: 'Coda', cursive; color: #a3a3a3;
  width: 40%;
}
.lock-x input,
.lock-x textarea {
  width: 100px;
}

input[type="submit"], input[type="button"], input[type="reset"], button, .button, .button:link, .button:visited 
{
	width: auto;
	display: inline-block;
	overflow: hidden;
	text-decoration: none;
	height: 30px;
	padding: 0 24px;
	background: #F3F3F3;
	background-image: url(/images/button.svg);
	background: -webkit-gradient( linear, left top, left bottom, from(white), to(#E6E6E6), color-stop(5%, #FCFCFC));
	background: -webkit-linear-gradient(top, white, #FCFCFC 1px, #E6E6E6);
	background: -moz-linear-gradient(top, white, #FCFCFC 1px, #E6E6E6);
	background: -o-linear-gradient(top, white, #FCFCFC 1px, #E6E6E6);
	-pie-background: linear-gradient(top, #fff, #fcfcfc 1px, #e6e6e6);
	background: linear-gradient(top, white, #FCFCFC 1px, #E6E6E6);
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	border: 1px solid #AAA;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	margin-bottom: 15px;
}

.about-text {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
}
.about-text a, .about-text a:link, .about-text a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #000066;
} 

.error, .error a {
	color: red;
	background-color: white;
	padding: 2px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Highscore ---------------------------------------------- */

.highscore h1 {
	padding-bottom: 0px;
	margin-bottom: 1px;
	border-bottom: 1px red dashed;
	display: inline;
}

.highscore table {
	width: 500px;
	margin: 2px auto;
}

.highscore table .pos {
	font-weight: bold;
}
.highscore table .playerName {
	font-style: italic;
}

.highscore a, .highscore a:link, .highscore a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #000066;	
}

/* Gameplay ---------------------------------------------- */

.gameOptions table td {
    padding: 25px;
    border: 1px dashed black;
    cursor: pointer;
}
.gameOptions table {
    width: 700px;
    margin: 10px auto;    
}
	
.optionsTable td
{
	background-color: #ccc;
}

.footer {
	position: absolute;
	bottom: 10px;
	left: 35%;
	font-size: 20px;
	font-family: 'Englebert', sans-serif;
	background-color: #fff;
	padding: 10px;
	border: 1px dashed #ccc;
	padding-top: 20px;
}
.footer a, .footer a:link, .footer a:hover, .footer a:visited{ 
	color: darkgreen;
}
.statusTable td{
	text-align: center;
}
.roundInfo {
	font-family: verdana;
	font-size: 70px;
	font-weight: 700;
   text-shadow:
    1px 1px #ccc,
    2px 2px #ccc,
    3px 3px #ccc,
    4px 4px #ccc,
    5px 5px #ccc,
    6px 6px #ccc;	
    line-height: 128px;
}

.pointInfo{
	font-size: 25px;
	color: green;
	font-weight: bold;
	font-style: italic;
}
.optionInfo {
	font-size: 18px;
	color: darkred;
}


/* User Status ---------------------------------------------- */
.user_great {
	color: green;
}
.user_good {
	color: blue;
}
.user_neutral {
	color: grey;
}
.user_bad {
	color: orange;
}
.user_worse {
	color: red;
}
.user_aweful {
	color: darkred;
}